.attels{
width: 330px;
 height: 200px;
 margin-left: 20px;
 border-style: solid;
 border-color: red;
}
.arejaKatse{
  border-style: groove;
  text-align: center;
  padding: auto;
  margin: auto;
 display: flex;
}
.anket{
 font-size: 40px;
}
.button{
margin-left: 60%;
}
